{{>common-topbar "contribute"}}
{{#if model.user}}
    <section role="main" id="main" tabindex="-1" class="scroll-container">
        <div class="row">
            <div class="contribute-viewport column small-12 medium-12">
                {{>contribute-viewport}}
            </div>
        </div>
    </section>

    <!-- Bring in client libraries-->
    <script type="text/javascript" src="/src/js/client/toggle.js"></script>
    <script type="text/javascript" src="/src/js/client/stringTemplate.js"></script>
    <script type="text/javascript" src="/src/js/client/contribute.js"></script>

    {{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.ul.contribute"}}}
{{else}}
    <div class="row" role="main" id="main" tabindex="-1">
        <div class="column small-12 medium-12">
            <div class="callout alert" role="alert">
                You must <a href="/api/user/login">log in</a> to contribute a new record to the Unified Listing.
            </div>
        </div>
    </div>

    {{>common-page-user-controls}}
{{/if}}

