{{>common-topbar}}

<div class="row" role="main" id="main" tabindex="-1">
    <div class="callout alert" role="alert">
        {{#if message}}
            {{message}}
        {{else}}
            An unknown error occurred.  Please contact a system administrator.

            <pre>
                {{jsonify .}}
            </pre>
        {{/if}}
    </div>
</div>

{{>common-page-user-controls}}