{{>common-topbar "search"}}
<section role="main" id="main" tabindex="-1" class="scroll-container">
    <div class="row">
        <div class="product-viewport column small-12 medium-12"/>
    </div>
</section>

<!-- reorderer dependencies -->
<link rel="stylesheet" type="text/css" href="/modules/infusion/src/components/reorderer/css/Reorderer.css" />
<link rel="stylesheet" type="text/css" href="/modules/infusion/src/components/reorderer/css/ImageReorderer.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/gridReorderer.css" /> -->

<script type="text/javascript" src="/modules/infusion/src/lib/jquery/plugins/touchPunch/js/jquery.ui.touch-punch.js"></script>
<script type="text/javascript" src="/modules/infusion/src/components/reorderer/js/ReordererDOMUtilities.js"></script>
<script type="text/javascript" src="/modules/infusion/src/components/reorderer/js/GeometricManager.js"></script>
<script type="text/javascript" src="/modules/infusion/src/components/reorderer/js/Reorderer.js"></script>
<script type="text/javascript" src="/modules/infusion/src/components/reorderer/js/ImageReorderer.js"></script>
<script type="text/javascript" src="/modules/infusion/src/components/reorderer/js/LayoutReorderer.js"></script>

<!-- Bring in client libraries-->
<script type="text/javascript" src="/src/js/client/toggle.js"></script>
<script type="text/javascript" src="/src/js/client/stringTemplate.js"></script>
<script type="text/javascript" src="/src/js/client/select.js"></script>
<script type="text/javascript" src="/src/js/client/gallery.js"></script>
<script type="text/javascript" src="/src/js/client/product.js"></script>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.ul.product"}}}

