{{>common-topbar "databases"}}

<div class="ul-updates-viewport" role="main" id="main" tabindex="-1"></div>

<script src="/src/js/client/updates.js"></script>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.ul.updates"}}}
