{{>prefs-editor}}

<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <div class="row">
        <div class="column small-3 small-offset-9 right nowrap">
            <div class="title-bar-title">Menu</div>
            <button class="menu-icon" type="button" data-toggle></button>
        </div>
    </div>
</div>

<div class="row combined-top-bar">
    <div class="column medium-9 small-12">
        <div class="top-bar" id="main-menu">
            <div class="top-bar-right">
                <ul class="menu center vertical medium-horizontal expanded">
                    <li><a href="/">Unified Listing</a></li>
                    <li {{#equals . "search"}} class="active"{{/equals}}><a href="/api/search">Search</a></li>
                    <li {{#equals . "contribute"}} class="active"{{/equals}}><a href="/contributors">Contribute</a></li>
                    <li {{#equals . "manufacturers"}} class="active"{{/equals}}><a href="/manufacturers">Manufacturers</a></li>
                    <li{{#equals . "databases"}} class="active"{{/equals}}><a href="/databases">Database Admins</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column medium-3 small-12">
        <div class="controls-viewport">
            {{>controls-viewport}}
        </div>
    </div>
</div>
