<div class="panel">
    <p>
        Use this form to contribute a new product to the Unified Listing.  Want to update a contribution you've
        already made?  <a href="/api/products?sources=%5B%22~{{user.username}}%22%5D&unified=false">View and edit your
        contributions here.</a>
    </p>
</div>

<div class="contribute-form">
    <div class="success"></div>
    <div class="error"></div>

    <form action="#" class="product-edit-form">
        <div class="row">
            <div class="column small-12">
                <input type="hidden" class="contribute-form-source"/>
                <h3>Product Details</h3>
                <label for="contribute-form-name" class="required">Name</label>
                <input type="text" class="contribute-form-name" placeholder="Please enter the name of this product." id="contribute-form-name" value="{{{product.name}}}"/>


                <label for="contribute-form-description"  class="required">Description</label>
                <textarea class="contribute-form-description" rows="10" placeholder="Please enter a description of this product." id="contribute-form-description">{{{product.description}}}</textarea>

                <label for="contribute-form-pricing">Pricing</label>
                <textarea class="contribute-form-pricing" rows="5" placeholder="Please provide details about how much the product costs in the countries where it is sold." id="contribute-form-pricing">{{{product.sourceData.pricing}}}</textarea>

                <input type="submit" value="Save" class="button contribute-form-submit"/>

                <hr/>
            </div>
        </div>

        {{>contribute-manufacturer product.manufacturer}}

        <hr/>

        {{>contribute-settings}}
    </form>
</div>