<section role="main" id="main" tabindex="-1">
    <div class="column small-offset-1 small-10 medium-offset-2 medium-8">
        <div class="login-success"></div>
        <div class="login-error"></div>
        <form class="login-form" method="POST">
            <p>Please enter your username and password to log in.</p>

            <label for="username">Username:</label>
            <input id="username" type="text" name="username" placeholder="Enter your username...">

            <label for="password">Password:</label>
            <input id="password" type="password" name="password">

            <input type="submit" class="login-button" value="Log In">
        </form>

        <p>Can't remember your username or password?  <a href="/api/user/forgot">Reset your password.</a></p>

        <p>No account?  <a href="/api/user/signup">Sign up now.</a></p>
    </div>
</section>

