{{#if showNavBar}}
  <div class="pagination-centered">
    <ul class="pagination" role="menubar" aria-label="Pagination">
      {{>navbar-previous}}
      {{#each pages}}
        <li class="{{#if current}}current{{/if}}"><a class="nav-link nav-num-link" offset="{{offset}}" href="#">{{label}}</a></li>
      {{/each}}
      {{>navbar-next}}
    </ul>
  </div>
{{/if}}