<div class="row">
    <div class="column medium-4 small-12 search-product">
        <a href="/api/product/{{source}}/{{sid}}">{{name}}</a>
    </div>
    <div class="column medium-8 small-12">
        <div class="search-product-description">{{{description}}}</div>
    </div>
</div>
