{{#if sources}}
  <ul>
    {{#each sources}}
      <li>
          <a href="/api/product/{{source}}/{{sid}}" target="_blank">
              {{source}} : {{name}}
          </a>
      </li>
    {{/each}}
  </ul>
{{/if}}