<!-- TODO: Migrate this to a "content aware" part of the API when this feature is complete:  https://github.com/GPII/gpii-express/pull/6 -->
{{#if pagedProducts.length}}
  {{#each pagedProducts}}
      {{>product-listing}}
  {{/each}}
{{else}}
  <p>No products found.  Please update your search terms.</p>
{{/if}}
