<div class="column small-offset-1 small-10 medium-offset-2 medium-8">
    <div class="reset-success"></div>
    <div class="reset-error"></div>

    <p>Use the form below to reset your password.</p>

    <form class="reset-form" method="POST">
        <label for="password">New Password:</label>
        <input id="password" type="password" name="password">

        <label for="confirm">Retype Password:</label>
        <input id="confirm" type="password" name="confirm">

        <input type="submit" class="button reset-button" value="Reset Password">
    </form>
</div>

