{{#if showNavBar}}
  <div class="pagination-centered">
    <ul class="pagination" role="menubar" aria-label="Pagination">
        {{>navbar-previous}}
        {{>navbar-next}}
    </ul>
  </div>
{{/if}}