<form class="search-query-form">
    <div class="row collapse">
        <div class="search-query-success"/>
        <!-- TODO:  improve templateFormControl to avoid the proliferation of extra error message blocks -->
        <div class="search-query-error" style="display:none"/>
        <div class="column small-9">
            <input type="text" name="q" class="search-query-string" title="enter one or more search terms"/>
        </div>
        <div class="column small-3">
            <input type="submit" value="Go" class="search-query-submit button postfix"/>
        </div>
    </div>
</form>