<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unified Listing</title>
    {{>common-includes}}
  </head>
  <body>
    <a class="topbar-skip-link" href="#main" tabindex="0">Skip to Main Content</a>

    {{{body}}}

    {{> common-footer}}

    <script type="text/javascript">
        $(document).foundation();
    </script>

    <!-- Empty div to allow us to focus in tests. -->
    <div id="focus-here"></div>
  </body>
</html>
