.fl-panelBar{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0.5em;
}

.loading {
    opacity:        .25;
}

#main {
    margin-top: 1em;
}

hr {
    max-width: inherit;
}

.combined-top-bar .column.small-12 {
    padding-left: 0;
    padding-right: 0;
}

label.required:after {
    content: "*";
    color:   red;
}

.controls-viewport .button {
    line-height: 2.5;
}

.user-controls-toggle::after {
    position: relative;
    margin-top: -2.8em;
    margin-bottom: 1em;
    left: 90%;
}

.controls-viewport {
    position: relative;
}
.user-menu {
    position:   absolute;
    z-index:    99;
    margin-top: 0.4em;
}
/* Adapted from: http://websiteaccessibility.donaldevans.com/?p=1020 */
.topbar-skip-link {
    position: absolute;
    clip:     rect(1px 1px 1px 1px);
    clip:     rect(1px, 1px, 1px, 1px);
    margin:   -1px;
    border:   0;
    padding:  0;
    width:    1px;;
    height:   1px;
    overflow: hidden;
}

.topbar-skip-link:active,
.topbar-skip-link:focus {
    clip:     auto;
    height:   auto;
    margin:   0;
    overflow: visible;
    position: static;
    width:    auto;
}

.top-bar {
    background-color: black;
    color: white;
}

.top-bar + * {
    margin-top: 1em;
}

.top-bar ul {
    background-color: inherit;
}

.ul-simulate-button {
    margin-bottom: 1.25rem;
}

.left-off-canvas-menu {
    background: inherit;
}

.search-options {
    margin-top:  .5em;
    padding-top: .5em;
    border-top:  1px dashed #e9e9e9;
}

#main > .row {
    margin-left: 18px;
    margin-right: 10px;
}

.ul-footer {
    margin-left: 18px;
    margin-right: 10px;
}

.nowrap {
    white-space: nowrap;
}

.search-product-description {
    text-overflow: ellipsis;
    white-space:   nowrap;
    overflow:      hidden;
    height:        1.5em;
}

body > .row {
    max-width: inherit;
}

.combined-top-bar {
    margin-bottom: 1em;
}

.ul-deleted, .ul-deleted * {
    text-decoration: line-through;
}

select.ul-updates-sources-control {
    height: inherit;
}

.search-topnav .pagination-centered {
    border-bottom: 1px dashed #e9e9e9;
}

.search-topnav ul {
    margin-top:    .5em;
    margin-bottom: .5em;
}

.search-bottomnav .pagination-centered {
    border-top: 1px dashed #e9e9e9;
}

.search-bottomnav ul {
    margin-top:    .5em;
    margin-bottom: .5em;
}

.product-listing {
    min-height: 100px;
    padding-bottom: .25em;
}

.ul-product-images {
    border: 1px solid #cccccc;
    padding: 1em;
    clear: both;
    position: absolute;
}

.ul-product-image:first-of-type {
    padding-left: 0em;
}

.ul-product-image {
    float: left;
    padding-left: .5em;
}

img {
    box-shadow: none;
}

.ul-image-holder {
    float: left;
    margin-right: .5em;
    width:  100px;
    height: 100px;
}