<h1 id="qunit-header">Checkbox Panel Tests</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests" role="main" id="main" tabindex="0"></ol>

<!-- Test HTML, we have to hide this ourselves.  QUnit's styles put it offscreen, which doesn't work for us. -->
<div style="display:none">
    <h3>String Checkboxes</h3>
    <div class="checkboxPanel-string-viewport">
        <div class="callout secondary">No content has been rendered yet.</div>
    </div>

    <h3>Number Checkboxes</h3>
    <div class="checkboxPanel-number-viewport">
        <div class="callout secondary">No content has been rendered yet.</div>
    </div>
</div>

<script type="text/javascript" src="/modules/infusion/src/framework/enhancement/js/ContextAwareness.js"></script>
<script type="text/javascript" src="/modules/infusion/src/framework/enhancement/js/ProgressiveEnhancement.js"></script>

<script src="/modules/infusion/tests/test-core/utils/js/IoCTestUtils.js"></script>

<script type="text/javascript" src="/modules/infusion/tests/lib/qunit/js/qunit.js"></script>
<script type="text/javascript" src="/modules/infusion/tests/test-core/jqUnit/js/jqUnit.js"></script>
<script type="text/javascript" src="/modules/infusion/tests/test-core/jqUnit/js/jqUnit-browser.js"></script>

<script type="text/javascript" src="/modules/gpii-webdriver/src/js/qunit-harness.js"></script>


<script type="text/javascript" src="/modules/gpii-binder/tests/static/js/tests-fixtures.js"></script>

<link rel="stylesheet" href="/modules/infusion/tests/lib/qunit/css/qunit.css"/>

<script src="/src/js/client/checkboxPanel.js"></script>

<script src="/tests/static/js/checkboxPanel-fixtures.js"></script>
<script src="/tests/static/js/checkboxPanel-jqunit-tests.js"></script>