{{>prefs-editor}}

<div role="main" id="main" tabindex="0">
    <h4>Primary</h4>
    <div class="checkboxPanel-string-viewport">
        <div class="callout secondary">No content has been rendered yet.</div>
    </div>

    <h4>Secondary</h4>

    <p>Previously we've had problems with form changes being relayed by the browser itself (fields with the same name).  This second element is used to guard against regressions.</p>

    <div class="checkboxPanel-string-second-viewport">
        <div class="callout secondary">No content has been rendered yet.</div>
    </div>
</div>

<script type="text/javascript" src="/modules/infusion/tests/lib/qunit/js/qunit.js"></script>
<script type="text/javascript" src="/modules/infusion/tests/test-core/jqUnit/js/jqUnit.js"></script>
<script type="text/javascript" src="/modules/infusion/tests/test-core/jqUnit/js/jqUnit-browser.js"></script>
<script type="text/javascript" src="/modules/gpii-binder/tests/static/js/tests-fixtures.js"></script>

<script src="/src/js/client/checkboxPanel.js"></script>
<script type="text/javascript" src="/tests/static/js/checkboxPanel-fixtures.js"></script>

<script type="text/javascript">
    var stringComponent       = gpii.tests.ul.checkboxPanel.component.string(".checkboxPanel-string-viewport");
    var secondStringComponent = gpii.tests.ul.checkboxPanel.component.string(".checkboxPanel-string-second-viewport");
</script>